.checkout-page {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #333;
  }

  .checkout-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .checkout-item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 15px;
      }

      .item-details {
        p {
          margin: 0;
          color: #555;
        }
      }
    }

    .item-total {
      text-align: right;
      color: #555;
      font-weight: bold;
    }
  }

  .empty-cart-message {
    text-align: center;
    color: #999;
  }

  .checkout-total {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .delivery-method,
  .payment-method {
    margin-bottom: 20px;

    h3 {
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #555;

      input {
        margin-right: 10px;
      }
    }
  }

  .delivery-info,
  .store-info {
    margin-bottom: 20px;

    h3 {
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #555;

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .store-details {
      margin-top: 10px;

      p {
        margin: 5px 0;
        color: #777;
      }
    }
  }

  .online-payment-options {
    margin-bottom: 20px;

    .online-option {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: #555;

      input {
        margin-right: 10px;
      }
    }
  }

  .bank-details,
  .momo-details {
    text-align: center;
    margin-bottom: 20px;

    img {
      width: 100px;
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      color: #777;
    }
  }

  .checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgb(19, 19, 119);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken(rgb(19, 19, 119), 10%);
    }
  }
}
