@use "sass:map";
@import "src/style/pages/theme";

.header__top {
  background-color: #f5f5f5;
}
.header__top_right {
  display: flex;
  justify-content: end;

  ul {
    display: flex;
    column-gap: 10px;
    list-style: none;

    a {
      font-size: 20px;
      display: inline-block;
      color: map.get($theme-color, "normal-text");
    }
    span {
      cursor: pointer;
      font-size: 20px;
      margin-left: 3px;
    }
  }

}